*.patch
*.gmo
*.swp
Makefile.in
Makefile.in.in
.deps
.libs
*.o
configure
configure.ac
Makefile
*.lo
*.la
autom4te.cache
config.*
*~
intltool-*.in
INSTALL
/aclocal.m4
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/panel-plugin/xfce4-clipman-settings.desktop
xfce4-clipman-plugin*.tar.bz2
