*.patch
*.gmo
*.swp
Makefile.in
Makefile.in.in
.deps
.dirstamp
.libs
*.o
configure
configure.ac
Makefile
*.lo
*.la
autom4te.cache
config.*
*~
intltool-*.in
INSTALL
/aclocal.m4
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/panel-plugin/xfce4-clipman-settings.desktop
/po/.intltool-merge-cache.lock
/po/xfce4-clipman-plugin.pot
/protocols/*.c
/protocols/*.h
/tests/test-*
xfce4-clipman-plugin*.tar.bz2
m4
stamp-h1
ABOUT-NLS
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
po/remove-potcdate.sed
xfce4-clipman-plugin-*git-*/
