<Project>
	<name xml:lang="en">xfce4-clipman-plugin</name>
	<shortdesc xml:lang="en">Clipboard manager for the Xfce Panel</shortdesc>
	<homepage rdf:resource="http://goodies.xfce.org/projects/panel-plugins/xfce4-clipman-plugin"/>
	<mailing-list rdf:resource="http://foo-projects.org/mailman/listinfo/xfce"/>
	<maintainer>
		<foaf:Person>
			<foaf:name>Mike Massonnet</foaf:name>
			<foaf:mbox>mailto:mmassonnet@xfce.org</foaf:mbox>
			<gnome:userid>mmassonnet</gnome:userid>
		</foaf:Person>
	</maintainer>
</Project>
