settings-dialog_ui.h
xfce4-clipman
xfce4-clipman-actions.xml
xfce4-clipman-history
xfce4-clipman-plugin-autostart.desktop
xfce4-clipman-plugin.desktop
xfce4-clipman-settings
xfce4-clipman.desktop
xfce4-popup-clipman
xfce4-popup-clipman-actions
xfce4-clipman-history
